

<h1><%= current_post.title %></h1>
<a href='<%= current_post.url %>'><%= current_post.url %></a>
<p><%= current_post.body %></p>

<form action='/post/<%= current_post.id %>/comment' method='post'>
	<textarea name="text" rows=3 cols=30 placeholder='Add a comment' required></textarea>
	<br>
	<input class='btn btn-primary' type='submit' value='Post'>
</form>

<% current_post.comments.each do |comment| %>
	<p><strong><%= comment.user.first_name %> says:</strong></p>
	<p><%= comment.text %></p>
		<p class=>
      <a class="commentvote" href='javascript:void(0)' data-commentid="<%= comment.id %>">UPVOTE</a>
      <a class="commentunvote hide" href='javascript:void(0)' data-commentid="<%= comment.id %>">UNVOTE</a>
    </p>
	<br>
<% end %>